---
layout: page
title: Contact
---

<form data-form-name="contact" name="contact" action="/contact-merci" netlify novalidate>
  <p>
    <label>Nom <input type="text" name="lastname"></label>
  </p>
  <p>
    <label>Prénom <input type="text" name="firstname"></label>
  </p>
  <label>Motif
    <select id="select-motive" name="motive">
      <option value="platform">Plateforme</option>
      <option value="person">Individu</option>
      <option value="partnership">Partenariat</option>
      <option value="other">Autre</option>
    </select>
  </label>
  <p>
    <label>E-mail 
      <input type="email" name="email">
    </label>
    <span data-error="means-of-contact" class="error" aria-live="polite">Vous devez au moins renseigner votre e-mail OU votre téléphone pour que nous puissions reprendre contact avec vous.</span>
  </p>
  <p>
    <label>Téléphone <input type="text" name="phone"></label>
  </p>
  <p>
    <label>Message *
      <textarea name="message" required></textarea>
      <span data-error="message" class="error" aria-live="polite">Le message ne doit pas rester vide</span>
    </label>
  </p>
  <div>
    <input type="checkbox" id="coop-newsletter-subscribing" name="coop-newsletter-subscribing">
    <label for="coop-newsletter-subscribing">Je souhaite suivre l'actualité de Plateformes en Communs en m'abonnant à la newsletter de La Coop des Communs.</label>
    <!-- <p class="help-text">En m'abonnant à la newsletter, j'accepte les <a href="http://coopdescommuns.org">règles de confidentialités</a> de La Coop des Communs.</p> -->
  </div>
    <div>
      <input type="checkbox" id="privacy-rules-acceptance" name="privacy-rules-acceptance" required>
      <label for="privacy-rules-acceptance">
        J'accepte les <a href="http://coopdescommuns.org">règles de
        confidentialité</a> de La Coop des Communs. *
        <span data-error="privacy-rules-acceptance" class="error" aria-live="polite">Vous devez accepter les règles de confidentialité pour pouvoir envoyer votre message</span>
      </label>
    </div>
    <p class="help-text">* : champs obligatoire</p>

  <p>
    <button type="submit">Envoyer</button>
  </p>
</form>
