<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Header -->
	<header id="header" {% if page.layout == 'default' %} class="alt" {% endif %}>
		<h1><a href="{{ "" | absolute_url }}">Plateformes en Communs</a></h1>
		<nav id="nav">
			<ul>
				<li class="special">
					<a href="#menu" class="menuToggle"><span>Menu</span></a>
					<div id="menu">
						<ul>
							{% for page in site.data.navigation_links %}
								<li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</li>
			</ul>
		</nav>
	</header>
