<!-- Banner -->
<section id="one" class="short-section wrapper style2">
	<div class="inner">
		<header class="major">
			<h2>Qui sommes-nous ?</h2>
			<p>Plateformes en Communs est un projet de la <a href="http://coopdescommuns.org/" target="_blank" title="lien vers la Coop des Communs">Coop des Communs</a>.</br>
				Nous regroupons des personnes venant de cultures différentes (Economie Sociale et Solidaire, Économie collaborative, Communs) qui souhaitent créer des alliances et des convergences entre ces mondes.</br>
				</br>

				Nous pensons qu’une nouvelle génération de plateformes collaboratives émergent et nous accompagnons leur structuration et les innovations sociales qu’elles portent : nouvelles gouvernances plus inclusives pour leurs communautés, partage de la valeur,
				innovations organisationnelles...</p>
		</header>
		<ul class="actions">
			<li><a href="{{ site.baseurl }}/qui-sommes-nous" class="button button--full-height special">En savoir plus</a></li>
		</ul>
	</div>


	<div class="short-section wrapper newsletter-form">
		<div class="inner">
			<p><b>Vous voulez-être tenu informé de l'actualité de Plateformes en communs ? 
				<br> Inscrivez-vous à la lettre d'information de La Coop des Communs!</b>
			</p>

			<!-- <div class="newsletters wpml widget_newsletters">
						<form action="http://coopdescommuns.org/?wpmlmethod=offsite&list=1" method="post">
							<input type="hidden" name="list_id[]" value="1" />
							<div>
								<label>Votre e-mail </label>
							</div>
							<div class='input'>
								<input placeholder="" class="form-control wpml wpmltext" id="wpml-1515163990email" tabindex="915151639902" type="text" name="email" value="" />
							</div>
							<div>
								<input class="" type="submit" name="subscribe" value="Je m'inscris" />
							</div>
						</form>
					</div> -->


			<form data-form-name="newsletter" data-is-form='ajax' name="mailing-list" netlify novalidate>
				<div class="inline-input">
					<label>E-mail </label>
					<input type="email" name="email">
				</div>

				<div>
					<input type="checkbox" id="privacy-rules-acceptance" name="privacy-rules-acceptance" required>
					<label for="privacy-rules-acceptance">
						J'accepte les <a href="http://coopdescommuns.org">règles de
							confidentialité</a> de La Coop des Communs. *
						<span data-error="privacy-rules-acceptance" class="error" aria-live="polite">Vous devez accepter les règles de
							confidentialité pour pouvoir envoyer votre message</span>
					</label>
				</div>
				<div>
					<button type="submit">Envoyer</button>
				</div>
			</form>

			<div data-is-result-form='ajax' style="display: none;">
				<h4>Merci ! </h4>
				<p>Votre adresse mail a bien été envoyée, nous reviendrons vers vous rapidement.
					<br>Bonne suite de lecture !</p>
			</div>
		</div>
		
	</div>
</section>
