<!-- CTA -->
<section class="short-section wrapper style2">
	<div class="inner">
		<header>
			<h2>Les outils</h2>
			<p>Plateformes en Communs rassemble ou crée un ensemble d’outils en commun entre communautés et plateformes pour répondre aux problématiques communes et innover<p>
			<p>Nous facilitons ainsi également l’apparition d’une nouvelle génération de plateformes collaboratives innovantes dans la production de communs et dans la gouvernance de leurs communautés</p>
		</header>
		<ul class="actions vertical">
			<li><a href="{% link _pages/outils.html %}" class="button button--full-height fit special">Découvrir les outils</a></li>
		</ul>
	</div>
</section>
