<!-- CTA -->
<section class="cta-section wrapper">
	<div class="inner">
		<header>
			<h2>Les plateformes</h2>
			<p>Découvrez la nouvelle génération de plateformes collaboratives innovantes dans la production de communs et la gouvernance de leurs communautés</p>
		</header>
		<ul class="actions">
			<li><a href="{% link _pages/plateformes.html %}" class="button button--full-height fit special">Découvrir les plateformes</a></li>
		</ul>
	</div>
</section>
