---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic');
@import 'libs/skel';

@import 'base/base';

@import 'components/overrides';
@import 'components/buttons';
@import 'components/sections';
@import 'components/links';
@import 'components/people-list';


// Custom --------------------------
.help-text {
  font-style: italic;
}

/* Voici notre composition pour les champs invalides */
.wrapper.style5 input[type="checkbox"].with-error + label::before, 
.wrapper.style5 textarea.with-error,
.wrapper.style5 input[type="email"].with-error,
.wrapper.style5 input[type="text"].with-error,
input[type="checkbox"].with-error + label::before
{
  border: 2px solid #ed4933;
  background-color: #FDD;
}

input:focus:invalid {
  outline: none;
}

/* Voici la mise en forme pour les erreurs */
.error {
  display: none;
  width  : 100%;
  padding: 0.3em;
  font-style: italic;
  color: darken(#ed4933, 10%);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error.active {
  display: block;
}

