.coop-link {
  position: absolute;
  bottom: 20px;
  right: 25px;
  font-size: 0.8em;
  font-style: italic;
  display: flex;
  flex-direction: row;
  align-items: center;
  a {
    text-decoration: none;
    border-bottom: none;
    margin-left: 5px;
  }
  img {
    max-width: 4em;
  }
}
