#main {
  > header {
    @include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6))', 'url("../../assets/images/banner.jpg")'));
    text-shadow: 0 0 2px #111;
  }
}

body.landing {
  #page-wrapper {
    @include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6))', 'url("../../assets/images/banner.jpg")'));
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
  }
}
