---
layout: base
---

<!-- Layout pour gérer des pages avec des sous parties, à gérer finement en html -->

<!-- Main -->
<article id="main">
    <header{% if page.image %} style="background-image: url('{% if site.featured-image-source %}{{ page.image | prepend: site.featured-image-source | absolute_url }}{% else %}{{ "" | absolute_url }}/assets/images/{{ page.image }}{% endif %}');"{% endif %}>
        <h2>{{ page.title }}</h2>
        <p>{{ page.description }}</p>
    </header>

    {{ content }}
</article>
